/* Página Drag Drop */
.drops {
  display: flex;
  gap: 100px;
  margin: 0px auto;
  max-width: 500px;
  max-height: 500px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.em-cima img{
  width: calc(30px + 100%);
}

.forma {
  display: flex;
}
.sumir {
  opacity: 0;
}
.desaparecer {
  opacity: 0;
}

.forma img{
  margin: 0 auto;
}

#minha-div{
  position:absolute;
}